<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billdoerr.android.carputer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.billdoerr.android.carputer.utils.GlobalVariables"
        android:allowBackup="true"
        android:icon="@drawable/ic_android_auto_logo"
        android:logo="@drawable/ic_android_auto_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_android_auto_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
		android:launchMode="singleTop"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity 
		    android:name=".activities.CarputerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".activities.CameraActivityMjpeg"
            android:label="@string/activity_title_camera">
        </activity>

        <activity
            android:name=".activities.CameraActivityMotionEye"
            android:label="@string/activity_title_camera_motioneye">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Include the host attribute if you want your app to respond
                     only to URLs with your app's domain. -->
                <data android:scheme="http" android:host="www.example.com" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CameraActivityImageArchive"
            android:label="@string/activity_title_camera_image_archive">
        </activity>
        <activity
            android:name=".activities.CarputerActivityMgmt"
            android:label="@string/activity_title_carputer_mgmt">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_title_settings"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.CarputerActivityAbout"
            android:label="@string/activity_title_about">
        </activity>
        <provider
            android:authorities="com.billdoerr.android.carputer.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <receiver android:name=".utils.NetworkChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>


</manifest>