<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billdoerr.android.carputer">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />														  																			

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_android_auto_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
		android:launchMode="singleTop"
        android:usesCleartextTraffic="true">							  
        <activity 
		android:name=".CarputerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".CameraActivityMjpeg"
            android:label="@string/activity_title_camera">
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_title_settings">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarputerActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsActivityNew"
            android:label="@string/activity_title_settings">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CarputerActivity"/>
        </activity>
        <activity
            android:name=".CameraActivityMotionEye"
            android:label="@string/activity_title_camera_motioneye">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Include the host attribute if you want your app to respond
                     only to URLs with your app's domain. -->
                <data android:scheme="http" android:host="www.example.com" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivityImageArchive"
            android:label="@string/activity_title_camera_image_archive">
        </activity>
        <activity
            android:name=".CarputerActivityMgmt"
            android:label="@string/activity_title_carputer_mgmt">
        </activity>
        <provider
            android:authorities="com.billdoerr.android.carputerpoc.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

    </application>


</manifest>